 <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body {
        background-color: ivory;
        }
        #name{float: left; margin-left:10px; padding-bottom: 10px; font-size: 20px; font-family: Verdana,sans-serif; color: blue;}
        #address{float: left; margin-left:10px; padding-bottom: 10px; font-size: 20px; font-family: Verdana,sans-serif; color: black;}
        #phone{float: left; margin-left:10px; padding-bottom: 10px; font-size: 20px; font-family: Verdana,sans-serif; color: black;}
        #email{float: left; margin-left:10px; padding-bottom: 10px; font-size: 20px; font-family: Verdana,sans-serif; color: black;}
        .left{ margin-left:50px; padding-left: 5px; width:; 10%; height: relative; background-color: ivory;}
        .right{float: right; margin-top:50px; padding-left: 5px; width:; 100%; height: auto; background-color: ivory;}
        #jobtitle{font-style: bold}
        #company{text-decoration: underline;}
        h6{font-size: 25px; text-align: left; text-decoration: underline;margin: 5px;}
        h2{font-size: 15px; font-style: bold;}
        h1{font-size: 40px; text-align: center; margin: 5px;}
        h4{font-size: 30px; text-align: right;margin: 5px;}
        h5{font-size: 25px; margin-left: 20px;}
        p{font-size: 15px; margin-bottom: 5px; }
        .square {
		  height: 50px;
		  width: 500px;
		  background: pink;
		 border-radius:15px;
		 padding:10px;
		}

		@media screen and (max-width:480px)
		{
			.left, .right, .square; {width 100%}
		}
		@media screen and (min-width:1200px)
		{
			.left, .right, .square; {width 100%}
		}